@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

@media (max-width: 1500px) {
  html,
  body {
    font-size: 80%;
  }
}

@media (max-width: 1200px) {
  html,
  body {
    font-size: 70%;
  }
}

@media (max-width: 900px) {
  html,
  body {
    font-size: 60%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.MuiInputBase-input {
  width: 100rem;
}
